
.icon-search:before { content: '\e805'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-attention:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-down-dir:before { content: '\e806'; } /* '' */
.icon-inbox:before { content: '\e800'; } /* '' */