// For todo in day.todos
li
    .todo.clearfix
        .todo-status.col-fixed.last
            .todo-icon-space
                .todo-icon-circle.overdue
                    span.icon-attention

        .todo-content.row-fixed
            .todo-meta.clearfix
                span.todo-due.pull-left= 'It was scheduled for Yesteday, 16:00'
                span.gear-icon.pull-right

            .todo-title= 'Some super crazy long title'
                // you had just figured out.'

            .todo-body
                | This is Photoshop's version <br>
                | consequat ipsum, nec sagittis sem nibh
