form(role="form")
    .form-group
        input.form-control(type="text" ng-model="todo.title" placeholder="Title")

    .form-group
        textarea.form-control(rows="4" ng-model="todo.body" placeholder="Title")

    .form-group.pull-right
        button.btn.btn-edit-inline.btn-default(ng-click="resetTodo(todo)")= 'Discard'
        button.btn.btn-edit-inline.btn-primary(ng-click="saveTodo(todo)")= 'Save'
