form.todo-edit(role="form")
    .form-group.due-picker
        label= '{{dateLabel}}'
        select.form-control(ng-options="day | selectDay for day in upcomingTimes(todo.due)" ng-model="todo.due")

    .form-group
        input.form-control(type="text" ng-model="todo.title" placeholder="Title")

    .form-group
        textarea.form-control(rows="4" ng-model="todo.body" placeholder="Title")

    .form-group
        .pull-right(ng-hide="isModal")
            button.btn.btn-edit-inline.btn-default(ng-click="reset(todo)")= 'DISCARD'
            button.btn.btn-edit-inline.btn-primary(ng-click="update(todo)")= 'SAVE'

        .pull-right(ng-show="isModal")
            button.btn.btn-edit-inline.btn-default(ng-click="reset(todo);$hide()")= 'DISCARD'
            button.btn.btn-edit-inline.btn-primary(ng-click="update(todo);$hide()")= 'SAVE'
