.search
    height logo-height

.transition
    height 6px
    width 100%
    background linear-gradient(top, #d2d5d6, container-color)

.list
    background-color container-color
    height 100%
    margin-left nav-width
