.transition // gradient line between search and the main content
    height (1/4 * menu-font-size)
    width 100%
    background linear-gradient(top, #d2d5d6, container-color)

.main
    width 100%
    background-color container-color
    height inherit
    overflow hidden
    padding-bottom (overflow-blowout-depth / 10)
    margin-bottom -(overflow-blowout-depth / 10)

.list
    width 100%
    padding-top (2 * menu-font-size)
    padding-left (2 * menu-font-size)
    padding-right (2 * menu-font-size)

.day-header
    width 100%

    padding-top menu-font-size
    padding-bottom (2 * menu-font-size)

    font-size menu-font-size

.todo-col-fixed, .todo-row-fixed
    float left

.todo-col-fixed
    width icon-space-width

.todo-row-fixed
    width "-webkit-calc(100% - %s)" % (icon-space-width)
    width "-moz-calc(100% - %s)" % (icon-space-width)
    width "calc(100% - %s)" % (icon-space-width)

.popover
    min-width 960px !important
    padding (1/2 * menu-font-size)

    border none
    border-radius 2px
    box-shadow 0 0 menu-font-size rgba(0, 0, 0, .3)

.popover.right
    margin-top -menu-font-size
    margin-left (4 * menu-font-size) !important

.popover.right > .arrow
    top (2 * menu-font-size)
    left -11px
    margin-top -11px
    border-right-color #999
    border-right-color rgba(0, 0, 0, .25)
    border-left-width 0


ul.todos
    position relative

    &::after
        position absolute
        content ''
        left (icon-circle-diameter / 2)
        top (circl-offset-from-top + icon-circle-diameter / 2)
        bottom (circl-offset-from-top + icon-circle-diameter)
        border-left icon-connector-line-width solid white
        z-index 0


.todo
    height 100%
    position relative
    z-index 1

.todo-status
    position relative

.todo-icon-space
    position relative

    padding-top circl-offset-from-top
    padding-left (1/6 * menu-font-size)
    height 100%

.todo-icon-circle
    display table-cell
    margin 0
    padding 0

    vertical-align middle
    text-align center

    draw-circle(icon-circle-diameter)

    &.overdue
        background-color overdue-circle-color

    &.complete
        background-color complete-circle-color

    span
        color white
        font-size (2 * menu-font-size)

.todo-content
    width "calc(100% - %s)" % (icon-space-width)

    margin-bottom (1.5 * menu-font-size)

    padding-top (1.5 * menu-font-size)
    padding-right menu-font-size
    padding-bottom (2 * menu-font-size)
    padding-left menu-font-size

    background-color white
    box-shadow 0 1px 2px rgba(0, 0, 0, .125)

    font-size menu-font-size

.todo-meta
    color todo-meta-color

.todo-title
    color todo-title-color
    font-size (1.5 * menu-font-size)

    padding-top (7/6 * menu-font-size)
    padding-bottom (5/6 * menu-font-size)

.todo-body
    font-size menu-font-size
    color todo-body-color
    line-height 1.65em

.todo-edit
    font-size menu-font-size

    .form-group
        margin-bottom (3/4 * menu-font-size)

    .form-group.due-picker
        margin-bottom (1/6 * menu-font-size)

    .form-control
        font-size menu-font-size

        padding (3/4 * menu-font-size)

    input.form-control
        height (2.5 * menu-font-size)

    button
        font-size menu-font-size
        width (7/8 * mark-all-btn-width)
        height mark-all-btn-height

        margin-left (3/4 * menu-font-size)

        border-radius 2px

    label
        width mark-all-btn-width
        height (2 * menu-font-size)

        display inline-block
        clear none

    select.form-control
        width (3/4 * mark-all-btn-width)
        height (2 * menu-font-size)

        display inline-block
        clear none
