.search
    height logo-height
    width 100%

    .search-container
        padding-top 38px
        margin-left 26px
        width calc(100% \- 26px)

        span.icon-search
            color #3f4e5a
            font-size 38px
            float left

        input.search-box
            padding-top 7px
            padding-left 20px

            width calc(100% \- 26px \- 38px \- 20px \-20px)

            border none

            font-size 22px
            letter-spacing 1px

.transition
    height 6px
    width 100%
    background linear-gradient(top, #d2d5d6, container-color)

.list
    background-color container-color
    height 100%
    margin-left nav-width
