.logo-container
    background todo-blue-color
    height logo-height

.menu-container
    background linear-gradient(top, menu-top-color, menu-bottom-color)

    width nav-width

    height inherit
    overflow hidden
    padding-bottom overflow-blowout-depth
    margin-bottom -overflow-blowout-depth

ul.unstyled.nav-menu
    padding-top (1.75 * menu-font-size)

    height inherit

    list-style none

    li.separator
        background menu-separator-color
        height 1px
        width 100%

        margin-top (3/4 * menu-font-size)
        margin-bottom (3/4 * menu-font-size)

    li.menu-item
        color white
        font-size menu-font-size

        display inline-block

        padding-left menu-font-size
        padding-right menu-font-size

        padding-top (1.25 * menu-font-size)
        padding-bottom (1.25 * menu-font-size)

        &:first-child
            padding-bottom (1.5 * menu-font-size)

        &.active
            color todo-blue-color

        span[class^='icon-']
            color todo-blue-color
            font-size (1.5 * menu-font-size)

            padding-right (menu-font-size / 2 + 2px)

        span.icon-plus-circled
            color todo-add-color
