.search
    height logo-height
    width 100%

    .search-container
        padding-top 38px
        margin-left 26px
        width calc(100% \- 26px)

        span.icon-search
            color #3f4e5a
            font-size 38px
            float left

input.search-box
    padding-top 7px
    padding-left 20px

    width calc(100% \- 26px \- 38px \- 20px \-20px)

    border none

    font-size 22px
    letter-spacing 1px

    color search-text-color

    &::-webkit-input-placeholder
        color search-text-color
    &:-moz-placeholder
        color search-text-color
    &::-moz-placeholder
        color search-text-color
    &:-ms-input-placeholder
        color search-text-color
