.search
    height logo-height
    width 100%

    .search-container
        padding-top (1.5 * menu-font-size - 2px)
        margin-left menu-font-size
        width "calc(100% - %s)" % menu-font-size

        span.icon-search
            color search-icon-color
            font-size (1.75 * menu-font-size)
            float left

input.search-box
    padding-top (3/8 * menu-font-size)
    padding-left (3/4 * menu-font-size)

    seaerch-box-margin = (5 * menu-font-size)

    width "-webkit-calc(100% - %s)" % (seaerch-box-margin)
    width "-moz-calc(100% - %s)" % (seaerch-box-margin)
    width "calc(100% - %s)" % (seaerch-box-margin)

    border none

    font-size menu-font-size
    letter-spacing (menu-font-size / 24)

    color search-text-color

    &::-webkit-input-placeholder
        color search-text-color
    &:-moz-placeholder
        color search-text-color
    &::-moz-placeholder
        color search-text-color
    &:-ms-input-placeholder
        color search-text-color
