@import 'nib'

body
    padding-top 60px

div.panel-footer
    background-color: #ffffff

.btn
    .follows-glyphicon
        padding-left: 8px

.panel-heading
    &.todo-done
        background-image: linear-gradient(to bottom, #c1ff8f 0%, #64ff0a 100%)
    &.todo-not-done
        background-image: linear-gradient(to bottom, #ffce91 0%, #ff920a 100%)

.bottom-right
    position: absolute
    bottom: 0
    right: 15px
