// Fonts have to be first for Montserrat to load/work
@import 'fonts'

@import 'nib'

global-reset()

// Variable definitions
todo-blue-color = #09bdef
todo-add-color = #47ec6e
container-color = #f0f3f5

nav-width = 250px
logo-height = 109px

body
    margin 0
    padding 0

    font-family 'Montserrat', sans-serif

    height 100%
    width 100%

    position absolute

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments
    html.ie8 &,
    html.ie7 &,
    html.ie6 &
     border 2px solid arguments[length(arguments) - 1]


.container
    margin 0
    padding 0
    width 100%

.col-fixed, .row-fixed
    float left

.col-fixed
    width nav-width

.row-fixed
    width "calc(100% - %s)" % (nav-width)

@import 'navigation'
@import 'content'
