// Fonts have to be first for Montserrat to load/work
@import 'fonts'

@import 'nib'

global-reset()

// Variable definitions
todo-blue-color = #09bdef
todo-add-color = #47ec6e
container-color = #f0f3f5

overdue-circle-color = #f0364c
complete-circle-color = #47ec6e
incomplete-circle-color = #bfcdd8

search-icon-color = #3f4e5a

menu-top-color = #192229
menu-bottom-color = #161e24
menu-separator-color = #2c3947

search-text-color = #b4bec8

todo-meta-color = #bfc7d0
todo-title-color = black
todo-body-color = #636669

nav-width = 250px
logo-height = 110px

overflow-blowout-depth = 5000px

menu-font-size = 24px

mark-all-btn-width = 260px
mark-all-btn-height = 60px

icon-space-width = 168px
icon-circle-diameter = 112px
icon-connector-line-width = 10px

circl-offset-from-top = 69px

html
    overflow-y scroll
    margin 0
    padding 0

html, body
    margin 0
    padding 0

    font-family 'Montserrat', sans-serif

    height 100%
    width 100%

    position absolute

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments
    html.ie8 &,
    html.ie7 &,
    html.ie6 &
     border 2px solid arguments[length(arguments) - 1]

draw-circle(diameter)
    border-radius 50%
    width diameter !important
    height diameter !important
    background-color incomplete-circle-color

a.undecorated
    text-decoration none
    color inherit

.light-text
    color search-text-color

.container
    margin 0
    padding 0
    width 100%

.nav-col-fixed, .nav-row-fixed
    float left

.nav-col-fixed
    width nav-width

.nav-row-fixed
    width "-webkit-calc(100% - %s)" % (nav-width)
    width "-moz-calc(100% - %s)" % (nav-width)
    width "calc(100% - %s)" % (nav-width)

@import 'navigation'

@import 'search'
@import 'mark-all'

@import 'content'
