
/* line 23 : /Users/jonathan/woot/twodew/app/views/css/twodew.styl */

/* line 2 : /Users/jonathan/woot/twodew/node_modules/stylus/lib/functions/index.styl */

/* line 297 : /Users/jonathan/woot/twodew/node_modules/stylus/lib/functions/index.styl */

/* line 33 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/border.styl */

/* line 12 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/border.styl */

/* line 3 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/clearfix.styl */

/* line 31 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/flex.styl */

/* line 33 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/gradients.styl */

/* line 94 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/gradients.styl */

/* line 94 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/iconic.styl */

/* line 9 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/overflow.styl */

/* line 23 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/overflow.styl */

/* line 9 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/positions.styl */

/* line 73 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/positions.styl */

/* line 15 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/reset.styl */

/* line 79 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/reset.styl */

/* line 33 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/text/aliases.styl */

/* line 14 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 10 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/vendor.styl */

/* line 94 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/vendor.styl */

/* line 94 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/config.styl */

/* line 576 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/config.styl */

/* line 576 : /Users/jonathan/woot/twodew/node_modules/nib/lib/nib/size.styl */

/* line 3 : /Users/jonathan/woot/twodew/app/views/css/twodew.styl */
body {
  padding-top: 60px;
}

/* line 9 : /Users/jonathan/woot/twodew/app/views/css/twodew.styl */
div.panel-footer {
  background-color: #fff;
}

/* line 11 : /Users/jonathan/woot/twodew/app/views/css/twodew.styl */

/* line 12 : /Users/jonathan/woot/twodew/app/views/css/twodew.styl */
.btn .follows-glyphicon {
  padding-left: 8px;
}

/* line 14 : /Users/jonathan/woot/twodew/app/views/css/twodew.styl */

/* line 15 : /Users/jonathan/woot/twodew/app/views/css/twodew.styl */
.panel-heading.todo-done {
  background-image: -webkit-linear-gradient(top, #c1ff8f 0%, #64ff0a 100%);
  background-image: -moz-linear-gradient(top, #c1ff8f 0%, #64ff0a 100%);
  background-image: -o-linear-gradient(top, #c1ff8f 0%, #64ff0a 100%);
  background-image: -ms-linear-gradient(top, #c1ff8f 0%, #64ff0a 100%);
  background-image: linear-gradient(to bottom, #c1ff8f 0%, #64ff0a 100%);
}

/* line 17 : /Users/jonathan/woot/twodew/app/views/css/twodew.styl */
.panel-heading.todo-not-done {
  background-image: -webkit-linear-gradient(top, #ffce91 0%, #ff920a 100%);
  background-image: -moz-linear-gradient(top, #ffce91 0%, #ff920a 100%);
  background-image: -o-linear-gradient(top, #ffce91 0%, #ff920a 100%);
  background-image: -ms-linear-gradient(top, #ffce91 0%, #ff920a 100%);
  background-image: linear-gradient(to bottom, #ffce91 0%, #ff920a 100%);
}

/* line 19 : /Users/jonathan/woot/twodew/app/views/css/twodew.styl */
.bottom-right {
  position: absolute;
  bottom: 0;
  right: 15px;
}
