// Todo items have a title, a body, and a boolean value to check if it has been done or not.
// {
//     "title" : "",
//     "body" : "",
//     "done" false
// }
mixin todo-list-item(item)
    li.todo(class= item.done ? 'todo-complete' : 'todo-incomplete')
        span.todo-title= item.title
        span.todo-body= item.body
