// Todo items have a title, a body, and a boolean value to check if it has been done or not.
// {
//     "title" : "",
//     "body" : "",
//     "done" false
// }
mixin todo-item(todo)
    if todo
        .panel(class=todo.done ? 'panel-success' : 'panel-warning')
            .panel-heading.clearfix
                span.pull-right
                    if todo.done
                        span.glyphicon.glyphicon-ok(title='All done!')
                    else
                        em: a.text-warning(href='/done/' + todo._id data-id=todo._id data-action='done') mark done
                span.panel-title.pull-left
                    a(href='/edit/' + todo._id title="Edit '" + todo.title + "'" data-id=todo._id data-action='edit')= todo.title

            .panel-body.clearfix
                .pull-left: em= todo.body

                .pull-right
                    a.text-danger(href='/delete/' + todo._id data-id=todo._id data-action='delete')
                        span.glyphicon.glyphicon-trash(title="Delete '" + todo.title + "'?")
    else
        .panel
            .panel-body
                span No todos match your criteria.
