doctype html
html(lang='en')
    link(href='/vendor/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
    link(href='/vendor/bootstrap/dist/css/bootstrap-theme.css' rel='stylesheet' type='text/css')
    link(href='/css/twodew.css' rel='stylesheet' type='text/css')

body
    .container
        block content

include ./scripts
