doctype html
html(lang='en')
    script(src='/vendor/jquery/dist/jquery.js')

    script(src='/js/SimpleCssParser.js')
    script(src='/js/polycalc.js')

    link(href='/vendor/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
    link(href='/css/twodew.css' rel='stylesheet' data-PolyCalc='1' type='text/css')

body(ng-app='TD')
    block content

include ./scripts
