// jQuery
script(src='/vendor/jquery/dist/jquery.js')

// Bootstrap proper
script(src='/vendor/bootstrap/dist/js/bootstrap.js')

// Handlebars
script(src='/vendor/handlebars/handlebars.js')

// Ember
script(src='/vendor/ember/ember.js')

// Ember-Bootstrap
script(src='/vendor/ember-addons.bs_for_ember/dist/js/bs-core.max.js')
// ...maybe more?
