script(src='/vendor/bootstrap/dist/js/bootstrap.js')

script(src='/vendor/moment/moment.js')

script(src='/vendor/angular/angular.js')
script(src='/vendor/angular-resource/angular-resource.js')
script(src='/vendor/angular-ui-router/release/angular-ui-router.js')

script(src='/vendor/angular-strap/dist/angular-strap.js')
script(src='/vendor/angular-strap/dist/angular-strap.tpl.js')

script(src='/js/twodew.js')
script(src='/js/controllers.js')
script(src='/js/services.js')
script(src='/js/filters.js')
